* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: $sanserif;
  font-weight: normal;
}

p {
  margin: 1rem 0;
}

img {
  display: block;
}

ol, ul {
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
}

.screenreader-assist {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}