body {
  background: $white;
  color: $darkgrey;
  margin: 0;
}

$imgmultiplier: 1.44;

main {
  // background: transparent url(/img/calendar.png) no-repeat top left;
  background-size: cover;
  box-sizing: content-box;
  height: $calendar-height;
  padding: $calendar-width-padding * 4 0 $calendar-width-padding * 5;
  width: 695px;
  // padding: (20 * $imgmultiplier)+px 0;
  // width: 695px + (20 * $imgmultiplier);
  // height: 720px + (59 * $imgmultiplier);
}

.day-view {
  @extend .clearfix
}

header {
  @extend .screenreader-assist
}

ol {
  &.times, &.events {
    float: left;
    height: $calendar-height;
    padding: 0 10px;
    text-align: right;
  }

  &.times {
    margin-top: -0.33rem;
    width: 75px;

    li {
      height: ($calendar-height - $base-font-size / 2) / $calendar-increments;
      white-space: nowrap;
    }

    .hour {
      font-size: 1.25rem;
      line-height: 1.25rem;

      .meridian {
        @extend .half-hour
      }
    }
    
    .half-hour {
      font-size: 1rem;
      line-height: 1.33rem;
    }
  }

  &.events {
    background-color: $lightgrey;
    border-left: 1px $midlightgrey solid;
    position: relative;
    text-align: left;
    width: $calendar-width;

    .event {
      background-color: $white;
      border: 1px $midlightgrey solid;
      border-left: 3px $accent solid;
      padding: 7px;
      position: absolute;
    }

    @each $id in $parallelitems {
      $parallel-selector: unquote('.parallel-#{$id}');
      $width: ($calendar-width - ($calendar-width-padding * 2)) / $id;

      #{$parallel-selector} {
        @if $id > 1 {
          width: $width;
        }
      }

      @each $pid in $parallelitems {
        $offset-selector: unquote('#{$parallel-selector}.push-#{$pid}');
        $left: $width * ($pid - 1) + $calendar-width-padding;
        @if $pid <= $id {
          @if $left > 0 {
            #{$offset-selector} {
              left: $left;
            }
          }
        }
      }
    }

    h2, .location {
      display: block;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h2 {
      color: $accent;
      font-size: 1.08333333rem;
      line-height: 1.08333333rem;
    }

    .location {
      color: $middarkgrey;
      font-size: 1rem;
    }
  }
}