/* variables */
@import 'vars';

/* Susy */
$susy: (
  columns: 12,
  gutters: 1/3,
  container: 1280px
);

$breakpoints: (
  small: '0px',
  medium: '500px',
  large: '1200px',
  extralarge: '1400px'
);

/* vendor files */
@import '../../bower_components/susy/sass/susy';

/* site files */
@import 'global';
@import 'module-day-clendar';

